body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.3);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 10px;
}
.navbar:hover{
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}
.links{
    color: white;
    font-style: bold;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: font-weight;
    font-variation-settings:
        "wdth" 600;
    font-size: 20px;
}