body{
    background-color: rgb(255, 243, 188);
    margin: 0;
}
.navbar{
    background-color: #4c3c3c;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 5px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 8px;
}
.navbar a:hover{
    cursor: pointer;
    background-color: #382c2c;
}
.title{
    color: white;
    font-family: "Titan One", cursive;
    font-size: 24px;
}